hf_home/
conditional-conformal-pvalues/
misc/
*.sh
control*
get_models.py
*.pyc
summaries/
running*
utils_experiments.py
*.out
logs/
*.lock
*.toml
*.e*
*.o*
data/ETS_corpus.json
old/
.DS_Store
worker*
data\ETS_corpus_sampled.jsonl
data\LOCNESS_sampled.jsonl
config.json
results.jsonl
myenv/
figs/
tables/